/*  Header */
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $logoBasic;
}

.logo__web {
    color: $logoWeb;
}

.logo__header {
    margin-right: 93px;
}

.logo__footer {
    display: inline-block;
    margin-bottom: 20px;
}

.logo__studio {
    color: $logoStudioFooter;
}