/* Text color */
$logoBasic: #000000;
$logoWeb: #2196f3;
$secondaryTextColor: #757575;
$hoverColor: #2196f3;
$logoStudioFooter: #ffffff;
$mainTextColor: #212121;
$officeAddressColor: #ffffff;
$contactsFooterColor: rgba(255, 255, 255, 0.6);

$heroTitleColor: #ffffff;
$heroButtonColor: #ffffff;

$filterButtonHoverColor: #ffffff;

/* Header border */
$headerBorderColor: #ececec;

/* Button */
$backgroundPortfolioButton: #f5f4fa;
$backgroundButtonHover: #2196f3;

/* Hero block */
$heroColor: #2f303a;

/* Advantages card */
$backgroundIcon: #f5f4fa;

/* Work list */
$workListColor: #ffffff;
$workListBackground: rgba(47, 48, 58, 0.8);

/* Our team */
$backgroundTeam: #f5f4fa;
$colorIcon: #afb1b8;
$hoverIcon: #ffffff;

/* Regular customers */
$borderColor: #afb1b8;

/* Card team*/
$backgroundCardTeam: #ffffff;

/* Portfolio card */
$portfolioCardBorder: #eeeeee;
$portfolioTextColor: #ffffff;
$portfolioTextBackground: rgba(33, 150, 243, 0.9);

/* Footer block */
$footerColor: #2f303a;
$joinTextColor: #ffffff;
$joinIconColor: #ffffff;
$backgroundSocialLink: rgba(255, 255, 255, 0.1);
$subscribeTextColor: #ffffff;
$subscribeTextInput: rgba(255, 255, 255, 0.6);

/* Modal */
$backdropBackground: rgba(0, 0, 0, 0.2);
$modalBackground: #ffffff;
$closeBorderColor: rgba(0, 0, 0, 0.1);
$inputBorderColor: rgba(33, 33, 33, 0.2);
$textareaTextColor: rgba(117, 117, 117, 0.5);

/* Card set gap */
$cardSetGap: 30px;

/* Animation */
$transitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);